{{!-- HeadingBlock: section label with an ornamental rule and optional count. --}}
<div class="ms-heading">
  <span class="ms-heading-label">{{label}}</span>
  <span class="ms-heading-rule"></span>
  {{#if hasCount}}<span class="ms-heading-count">{{count}}</span>{{/if}}
</div>
