{{!-- InfoBlock: optional title + pre-enriched, adapter-supplied SAFE html. Emits nothing. --}}
<section class="ms-block ms-info">
  {{#if hasTitle}}<h3 class="ms-list-title">{{title}}</h3>{{/if}}
  <div class="ms-info-body">{{{html}}}</div>
</section>
