{{!-- InfoBlock: title + pre-enriched, adapter-supplied SAFE html. Emits nothing. --}}
<section class="ms-block ms-info">
  <h3 class="ms-list-title">{{title}}</h3>
  <div class="ms-info-body">{{{html}}}</div>
</section>
